<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyectos Molones</title>
    <link rel="stylesheet" href="/main.css" />
</head>

<body>
    <main class="mainLanding container">
        <section class="hero">
            <h2 class="title">Proyectos molones</h2>
            <p class="hero__text">
                Proyecto <%= title %> realizado por <%= name %> 
            </p>
            <a href="/#/catalog" class="button--link">Volver</a>
        </section>
        <section class="mainLanding__sectionCard landing">
            <div class="projectImage">
                <img class="image" src="<%= image %>" alt="Foto de la tarjeta">
            </div>
            <article class="card">
                <h2 class="card__projectTitle">
                    <span class="card__projectTitle--text">Proyectos molones</span>
                </h2>

                <div class="card__author">
                    <div class="card__authorPhoto">
                        <img class="preview__photo" src="<%= photo %>" alt="Foto de la autora">
                    </div>
                    <p class="card__job">
                        <%= job %>
                    </p>
                    <h3 class="card__name"><%= name %></h3>
                </div>

                <div class="card__project">
                    <div>
                        <h3 class="card__name"><%= title %></h3>
                        <p class="card__slogan"><%= slogan %></p>
                    </div>
                    <div>
                        <h3 class="card__descriptionTitle">Product description</h3>
                        <p class="card__description"><%= description %></p>
                    </div>


                    <div class="card__technicalInfo">
                        <p class="card__technologies">
                            <%= technologies %>
                        </p>

                        <a class="icon icon__www" href="<%= repo %>" target="_blank" rel="noreferrer"
                            title="Haz click para ver el proyecto online">
                            Web link
                        </a>
                        <a class="icon icon__github" href="<%= demo %>"target="_blank" rel="noreferrer"
                            title="Haz click para ver el código del proyecto">
                            GitHub link
                        </a>
                    </div>
                </div>
            </article>

        </section>
    </main>
    <footer class="footer">
        <a>
            <img class="logoSponsor" src="https://adalab.es/wp-content/uploads/2022/03/logo-adalab.png" />
        </a>
    </footer>
</body>

</html>